@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

$ft-body: 'PT Sans', sans-serif;
body {
  font-family: $ft-body;
}

$fontastic-font-directory-path: '../fonts/fontastic/' !default;
$fontastic-font-file-name: 'fontastic' !default;
$fontastic-font-file-path: $fontastic-font-directory-path + $fontastic-font-file-name !default;
@font-face {
  font-family: 'fontastic';
  src:url("#{$fontastic-font-file-path}.eot");
  src:url("#{$fontastic-font-file-path}.eot?#iefix") format("embedded-opentype"),
    url("#{$fontastic-font-file-path}.woff") format("woff"),
    url("#{$fontastic-font-file-path}.ttf") format("truetype"),
    url("#{$fontastic-font-file-path}.svg#fontastic") format("svg");

  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[data-icon]:before {
  font-family: "fontastic" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "fontastic" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-facebook:before {
  content: "\61";
}
.icon-twitter:before {
  content: "\62";
}
.icon-youtube:before {
  content: "\63";
}
.icon-mail:before {
  content: "\64";
}
.icon-location:before {
  content: "\65";
}
.icon-phone:before {
  content: "\66";
}
.icon-menu:before {
  content: "\67";
}


