/* Base colors */
$white: #FFFFFF;
$lightwhite: #F8F8F9;

$black: #000000;
$lighterblack: #2F303A;
$regularblack: #202027;
$regularblue: #1762A7;
$darkblue: #2E3852;
$lighterred: #BC3A80;

$footer-bc: $regularblack;
$button-color: $regularblue;



// https://dev.to/adrianbdesigns/mastering-css-vertical-rhythm-om9
$base-font-size: 16px;
$font-size-lp: 18px; // font-size landingpage
$base-line-height: 1.4; // Default value is 1.2

$rhythm: ($base-font-size * $base-line-height);
$dist-s: $rhythm * 0.5;
$dist-m: $rhythm * 1.25;
$dist-l: $rhythm * 2.5;